.nav-link {
	color: white;
}
.navbar-brand {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 30px;
	font-weight: 900;
}
.navbar {
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 20px;
}
.contact {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	width: 100%;
	margin-left: 180px;
	padding-top: 100px;
}

.phone {
	font-family: 'Montserrat Alternates', sans-serif;
	margin-left: 180px;
	color: white;
	padding-top: 20px;
}

.email {
	font-family: 'Montserrat Alternates', sans-serif;
	margin-left: 130px;
	color: white;
	padding-top: 5px;
}

.resume {
	font-family: 'Montserrat Alternates', sans-serif;
	margin-left: 260px;
	padding-top: 20px;
	color: white;
}
.resume:hover {
	color: #17a2b8;
}
#resume {
	margin-bottom: 10px;
	padding-bottom: 20px;
}
h2 {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	margin-left: 260px;
	padding-top: 30px;
}
.social-med {
	position: relative;
	left: 21.5%;
	color: white;
	font-size: 35px;
	margin-bottom: 0px;
}
.fab {
	color: white;
}
.fab:hover {
	color: #17a2b8;
}
.background-portfolio {
	background-image: url(../assets/bckgrd2.jpg);
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	overflow: hidden;
}
.copy-right {
	margin-left: 240px;
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	margin-top: 110px;
}
footer {
	color: white;
	margin-left: 615px;
	padding-top: 220px;
	margin-bottom: 0px;
}
