.nav-link {
	color: white;
}

.navbar-brand {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 20px;
}
.navbar {
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 20px;
}

.intro {
	color: white;
	width: 100%;
	margin: 50px;
	text-align: justify;
	text-justify: inter-word;
	padding-top: 50px;
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: 'Montserrat Alternates', sans-serif;
}

.contact {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 45px;
	width: 100%;
	margin-left: 360px;
	padding-top: -500px;
	padding-bottom: 20px;
}

.phone {
	font-family: 'Montserrat Alternates', sans-serif;
	margin-left: 500px;
	color: white;
	margin-left: 375px;
}

.email {
	font-family: 'Montserrat Alternates', sans-serif;
	margin-left: 325px;
	color: white;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.resume {
	font-family: 'Montserrat Alternates', sans-serif;
	margin-left: 450px;
	color: white;
}
.resume:hover {
	color: #17a2b8;
}
#resume {
	margin-bottom: 10px;
	padding-bottom: 20px;
}
h2 {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	margin-left: 260px;
	padding-top: 30px;
}

.social-med {
	position: absolute;
	top: 60%;
	left: 38%;
	color: white;
	font-size: 35px;
	margin: 10px;
	margin-top: 40px;
	padding-top: 10px;
}

.fab {
	color: white;
}
.fab:hover {
	color: #17a2b8;
}

.background-portfolio {
	background-image: url(../assets/background_portfolio_contact.jpg);
	background-repeat: no-repeat;
	background-size: 1480px auto;
}

.copy-right {
	padding-top: 150px;
	margin-left: 425px;
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	margin-top: 40px;
	margin-bottom: 0px;
}

footer {
	color: white;
	margin-left: 615px;
	padding-top: 220px;
	margin-bottom: 0px;
}
