.nav-link {
	color: white;
}
.navbar-brand {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 30px;
	font-weight: 900;
}
.navbar {
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 20px;
	margin-top: 0;
}
.background-portfolio {
	background-image: url(../assets/bckgrd_port.jpg);
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	overflow: hidden;
}
.social-med {
	position: relative;
	left: 38%;
	color: white;
	font-size: 35px;
	margin-bottom: 0px;
	padding-top: 20px;
}
.social-med:hover {
	color: #17a2b8;
}
.fab:hover {
	color: #17a2b8;
}
.fab {
	color: white;
}
.copy-right {
	margin-left: 490px;
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	margin-top: 0px;
}
.card {
	margin-top: 10px;
	margin: center;
}
.card-link {
	color: #17a2b8;
}
