.nav-link {
	color: white;
}
.navbar-brand {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 30px;
	font-weight: 900;
}
.navbar {
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 20px;
	margin-top: 0;
}
.background-portfolio {
	background-image: url(../assets/background_portfolio_contact.jpg);
	background-repeat: no-repeat;
	background-size: 1480px auto;
}
.social-med {
	position: absolute;
	top: 92%;
	left: 80%;
	color: white;
	font-size: 35px;
	margin: 10px;
	margin-top: 0px;
}
.social-med:hover {
	color: #17a2b8;
}
.fab:hover {
	color: #17a2b8;
}
.fab {
	color: white;
}
.copy-right {
	margin-left: 650px;
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	margin-top: 110px;
	margin-bottom: 0px;
}
.resize {
	max-width: 100%;
	height: 229px;
}

.card {
	margin-top: 80px;
	margin-left: 60px;
}
.card-link {
	color: #17a2b8;
}
