.nav-link {
	color: white;
}
.navbar-brand {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 20px;
}
.navbar {
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 20px;
}

body {
	background-image: url(/assets/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1480px auto;
}
.title {
	color: white;
	font-size: 60px;
	width: 100%;
	padding-top: 50px;
	margin-top: 40px;
	margin-left: 260px;
	font-family: 'Montserrat Alternates', sans-serif;
}
.tag-line {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	margin-left: 260px;
	padding-top: 30px;
}
.social-med {
	position: absolute;
	top: 87%;
	left: 80%;
	color: white;
	font-size: 35px;
	margin: 10px;
	margin-top: 30px;
	padding-bottom: 0;
}
.social-med:hover {
	color: #17a2b8;
}
.fab:hover {
	color: #17a2b8;
}
.fab {
	color: white;
}

footer {
	color: white;
	margin-left: 615px;
	padding-top: 220px;
}
