.nav-link {
	color: white;
}
.navbar-brand {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 30px;
	font-weight: 900;
}
.navbar {
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 20px;
	margin-top: 0;
}
body {
	background-image: url(../assets/bckgrd2.jpg);
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	overflow: hidden;
}
.title {
	color: white;
	width: 100%;
	padding-top: 50px;
	margin-top: 40px;
	margin: center;
	font-family: 'Montserrat Alternates', sans-serif;
}
.tag-line {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	margin: center;
	padding-top: 40px;
}
.social-med {
	position: relative;
	left: 30%;
	color: white;
	font-size: 35px;
	margin-bottom: 0px;
}
.social-med:hover {
	color: #17a2b8;
}
.fab:hover {
	color: #17a2b8;
}
.fab {
	color: white;
}
.copy-right {
	margin-left: 390px;
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	margin-top: 75px;
}
