.nav-link {
	color: white;
}

.navbar-brand {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
	font-size: 25px;
	font-weight: 900;
}

.navbar {
	font-family: 'Montserrat Alternates', sans-serif;
	font: bold;
}

body {
	background-image: url(../assets/bckgrd2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
	max-width: 100%;
	height: auto;
}

.title {
	color: white;
	max-width: 100%;
	height: auto;
	text-align: center;
	padding-top: 10%;
	padding-right: 30%;
	font-family: 'Montserrat Alternates', sans-serif;
}

.tag-line {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
	padding-top: 3%;
	padding-right: 30%;
	max-width: 100%;
	height: auto;
}

.social-med {
	position: relative;
	left: 28.5%;
	color: white;
	font-size: 35px;
	margin-bottom: 0px;
	padding-top: 3%;
	max-width: 100%;
	height: auto;
}

.social-med:hover {
	color: #17a2b8;
}

.fab:hover {
	color: #17a2b8;
}

.fab {
	color: white;
}

.copy-right {
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	position: relative;
	padding-top: 4.3%;
	padding-left: 32%;
	max-width: 100%;
	height: auto;
}
